@font-face {
  font-family: "take_coffee";
  src: url("/assets/fonts/take_coffee/Take\ Coffee.otf") format("opentype"),
    url("/assets/fonts/take_coffee/Take\ Coffee.ttf") format("truetype");
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
  background: #d6e1f0;
  color: rgb(241, 241, 241);
  user-select: none;
}

h1 {
  position: absolute;
  top: 0;
  font-family: "take_coffee", sans-serif;
  font-size: 5rem;
  color: rgb(220, 197, 65);
}
.app {
  width: 70%;
  min-width: 400px;
  max-width: 800px;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 14px;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.307);
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
}
.app:hover {
  transform: scale(1.01);
}
